@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.login-animation {
    animation-name: slideInFromRight;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.signup-animation {
    animation-name: slideInFromLeft;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

form {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    background-color: white;
}

form .lottie-anim {
    display: none;
}

form h1 {
    width: 345px;
    color: #ffe501;
}

form .input-container {
    padding: 7.5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
}

form .input-container input {
    flex: 1;
    height: 30px;
    font-size: 16px;
}

form .input-container .phone-input input {
    border: none;
    font-size: 16px;
}

form .input-container .phone-input .flag-dropdown {
    border: none;
}

form .error {
    color: #ff0808;
}

form .forgot-password {
    margin-top: 10px;
    margin-left: auto;
    color: #3c82f6;
    font-size: 15px;
    font-weight: 600;
}

form .submit-btn {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 800;
    background-color: #1B1B1B;
    color: white;
    border: 2px solid #1B1B1B;
    border-radius: 5px;
}

form .divider {
    margin: 0 auto;
    margin-bottom: 15px;
    font-weight: 900;
}

form .google-btn {
    margin-bottom: 15px;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 800;
    border: 2px solid #1B1B1B;
    border-radius: 5px;
}

form .alternative {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    form {
        height: 90dvh;
    }

    form .lottie-anim {
        display: block;
        width: 200px;
    }
}